.MainNav {
	> ul {
		align-items: center;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		gap: 40px;
		height: 100vh;
		inset: 0;
		justify-content: center;
		list-style: none;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		transform: translateX(-100%);
		transition: all 250ms ease-in-out;
		width: 100%;
		z-index: 1;
	}

	&--active {
		> ul {
			opacity: 1;
			pointer-events: auto;
			transform: translateX(0);
		}
	}

	@include query($desktop) {
		margin-left: auto;

		> ul {
			background-color: transparent;
			flex-direction: row;
			gap: 69px;
			height: auto;
			justify-content: flex-end;
			opacity: 1;
			pointer-events: auto;
			position: relative;
			transform: translateX(0);
		}

		a {
			display: inline-block;
			position: relative;

			&::after {
				background-color: $color-primary;
				bottom: -6px;
				content: '';
				height: 2px;
				left: 50%;
				opacity: 0;
				position: absolute;
				transform: translateX(-50%);
				transition: all 250ms ease-in-out;
				visibility: hidden;
				width: 0;
			}

			&:hover,
			&:active {
				color: $color-primary;

				&::after {
					opacity: 1;
					visibility: visible;
					width: 75%;
				}
			}

		}
	}
}