h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;

	span {
		color: $color-primary;
	}
}

h1 {
	font-size: 26px;
	line-height: 2.462em;

	@include query($desktop) {
		font-size: 42px;
		line-height: 1.524em;
	}
}

.TwoWeights {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.167;
	margin-bottom: 32px;

	span {
		color: $color-primary;
		font-weight: 700;
	}

	@include query($tablet) {
		font-size: 32px;
		line-height: 2;
	}
}

.HeadingWithBorder {
	@include query($desktop) {
		position: relative;

		&::after {
			background-color: #979797;
			bottom: -10px;
			content: '';
			height: 2px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 180px;
		}
	}
}