.About {
	padding: 64px 0;

	@include query($desktop) {
		padding-top: 0;
	}

	.Container {
		display: flex;
		flex-direction: column;
		padding: 0 5%;
		text-align: center;

		> img {
			height: 82px;
			margin: 0 auto 32px;
			width: 233px;
		}

		@include query($tablet) {
			align-items: center;
			flex-direction: row;
			gap: 80px;

			> div {
				text-align: left;
			}
		}

		@include query($desktop) {
			gap: 163px;
			padding: 0;

			> img {
				height: 119px;
				width: 339px;
			}
		}
	}
}