.WhatWeDo {
    &__heading {
        text-align: center;
    }

    &__tabs-wrapper {
        display: none;
        margin-top: 90px;

        @include query($desktop) {
            display: flex;
        }
    }

    &__tab {
        cursor: pointer;
        flex: 1;

        &--active {
            border-bottom: 3px solid $color-primary;
            padding-bottom: 7px;

            figure {
                svg g{
                    fill: $color-primary;
                }
            }

            .WhatWeDo__tab-heading {
                color: $color-primary;
                font-weight: 700 !important;
            }
        }

        figure {
            display: flex;
            height: 79px;
            justify-content: center;
        }

        .WhatWeDo__tab-heading {
            font-size: 22px;
            font-weight: 400;
            line-height: 2.909;
            margin-top: 15px;
            text-align: center;
        }
    }

    &__tabs-content {
        background-color: rgba(#D8D8D8, .2);
        padding: 81px 0;
        position: relative;
    }

    &__content {
        left: 50%;
        max-width: 780px;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        top: 0;
        transform: translateX(-50%);
        width: 100%;

        &--active {
            opacity: 1;
            position: relative;
            visibility: visible;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                background-image: url("../images/checkmark.svg");
                background-repeat: no-repeat;
                background-position: 0 center;
                background-size: 20px;
                font-size: 18px;
                padding-left: 30px;

                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__mobile-tabs {
        display: none;
    }
}